<a href="https://colab.research.google.com/github/gabrielletaina/AnimaCursoDePhyton/blob/main/Aula_Phyton_08_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AULA 07/02

importando arquivo e chamando biblioteca pandas

In [13]:
import pandas as pd

In [15]:
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
print(combustiveis_df)

In [ ]:
display(combustiveis_df)

In [ ]:
display(combustiveis_df.head(15))

In [ ]:
display(combustiveis_df.shape)

Mostra as estatitiscas mais básicas

In [ ]:
display(combustiveis_df.describe())

Mostra o tipo de cada info

In [ ]:
display(combustiveis_df.info())

  FILTRAR SOMENTE 1 COLUNA

In [ ]:
display(combustiveis_df['Revenda'])

In [18]:
ca_df = combustiveis_df [['Revenda', 'Municipio', 'Produto' ,'Valor de Venda']]
display (ca_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
1,POSTO ARAPIRACA LTDA,ARAPIRACA,ETANOL,5.299
2,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL,5.549
3,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA ADITIVADA,6.899
4,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL S10,5.649
...,...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,ETANOL,5.859
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,ETANOL,4.740
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,DIESEL S10,5.448
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA ADITIVADA,6.580

Exibe a quarta linha

In [19]:
display(ca_df.loc[3])

Revenda           POSTO ARAPIRACA LTDA
Municipio                    ARAPIRACA
Produto             GASOLINA ADITIVADA
Valor de Venda                   6.899
Name: 3, dtype: object

Exiber da décima linha a vigésima linha

In [ ]:
display(ca_df.loc[9:19])

In [ ]:
#Criar um dataframe gas_df
#apenas 4 colunas
#somente gasolina

In [ ]:
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df['Valor de Venda'].max())

7.999

In [ ]:
#Mostrar municipio da gasolina mais cara do brasil

In [ ]:
display(gas_df[['Revenda','Valor de Venda','Municipio']].max())

In [20]:
#DataFrame.loc[] com múltiplas condições para filtragem
#Quais são os preços, postos que vendem ETANOL na minha cidade (INDAIATUBA) 
#ordenado do menor valor de venda para o maior

etanol_indaiatuba_df = ca_df.loc[(ca_df['Produto'] == 'ETANOL') & (ca_df['Municipio'] == 'INDAIATUBA')]
display(etanol_indaiatuba_df.sort_values(by='Valor de Venda'))

,Revenda,Municipio,Produto,Valor de Venda
160592,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,4.679
140194,CENTRO AUTOMOTIVO RIVIERA TROPICAL LTDA,INDAIATUBA,ETANOL,4.679
140661,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
159497,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
141167,AUTO POSTO ESPLANADA DE INDAIA LTDA,INDAIATUBA,ETANOL,4.699
...,...,...,...,...
51129,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
51138,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,5.599
84395,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,5.599
65878,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
65363,AUTO POSTO INDIANA SELF LTDA.,INDAIATUBA,ETANOL,6.197

In [ ]:
#Qual a média de preços dos combustívels GASOLINA e GASOLINA ADTIVADA do Bairro MOOCA

In [ ]:
combustiveis_df.loc[(combustiveis_df['Bairro'] == 'MOOCA') & 
                    (combustiveis_df['Municipio'] == 'SAO PAULO') & (combustiveis_df['Produto'] == 'GASOLINA') | (combustiveis_df['Produto'] == 'GASOLINA ADITIVADA')]

In [ ]:
#Filtrando mais de um produto usando o .isin

In [ ]:
display(combustiveis_df.loc[(combustiveis_df['Bairro'] == 'MOOCA') & 
                            (combustiveis_df['Municipio'] == 'SAO PAULO') & 
                            (combustiveis_df['Produto'].isin(["GASOLINA", "GASOLINA ADITIVADA"])), 
                            ['Valor de Venda']].mean())

Valor de Venda    6.575596
dtype: float64

In [ ]:
#COMO MOSTRAR A MEDIA DE VALOR DE VENDA POR COMBUSTÍVEL

In [ ]:
media_por_combustivel_df = ca_df[['Valor de Venda', 'Produto']].groupby(by='Produto').mean()
display(media_por_combustivel_df)

In [ ]:
#COMO MOSTRAR A MEDIA DE VALOR DE VENDA POR COMBUSTÍVEL SÓ COM DUAS CASAS DECIMAIS

In [ ]:
media_por_combustivel_df = ca_df[['Produto', 'Valor de Venda']].groupby(by='Produto').mean().round(2)
display(media_por_combustivel_df)

In [ ]:
#Quero adicionar uma nova coluna de valor booleano chamado "aTIVO"
#que por padrão vai ser "true" em todas as linhas

In [ ]:
combustiveis_df['Ativo'] = True 
display(combustiveis_df)

In [ ]:
#Quando quiser uma coluna que preencha "Melhor cidade" quando o municipio for Indaiatuba

In [ ]:
combustiveis_df['Obs'] = "Melhor Cidade" if combustiveis_df['MUNICIPIO'] == "INDAIATUBA" else " "

In [ ]:
#Exportar para excel

In [22]:
etanol_indaiatuba_df.to_excel('etanol_indaiatuba.xlsx', sheet_name='Etanol em Indaiatuba')